 <div class="container-fluid">
  <div class="row main">
    <div class="col-lg-6" id="tweetpanel">
       <div id="candidate" class="panel panel-default">
        </div>
    </div>
    <div class='col-lg-8 map'>
       <div id="graph"></div>
    </div>
  </div>
</div>

<div id ="alignimage">
 <img class="keyimage" id="hillary_clinton" src="/assets/hillary_clinton.jpg"/> 
      <img class="keyimage" id="ben_carson" src="/assets/ben_carson.jpg"/> 
      <img class="keyimage" id="bernie_sanders" src="/assets/bernie_sanders.jpg"/> 
      <img class="keyimage" id="bobby_jindal" src="/assets/bobby_jindal.jpg"/> 
      <img class="keyimage" id="carly_fiorina" src="/assets/carly_fiorina.jpg"/> 
      <img class="keyimage" id="chris_christie" src="/assets/chris_christie.jpg"/> 
      <img class="keyimage" id="donald_trump" src="/assets/donald_trump.jpg"/> 
      <img class="keyimage" id="george_pataki" src="/assets/george_pataki.jpg"/> 
      <img class="keyimage" id="jeb_bush" src="/assets/jeb_bush.jpg"/> 
      <img class="keyimage" id="jim_gilmore" src="/assets/jim_gilmore.jpg"/> 
      <img class="keyimage" id="jim_webb" src="/assets/jim_webb.jpg"/> 
      <img class="keyimage" id="john_kasich" src="/assets/john_kasich.jpg"/> 
      <img class="keyimage" id="lawrence_lessig" src="/assets/lawrence_lessig.jpg"/> 
      <img class="keyimage" id="lindsey_graham" src="/assets/lindsey_graham.jpg"/> 
      <img class="keyimage" id="marco_rubio" src="/assets/marco_rubio.jpg"/> 
      <img class="keyimage" id="martin_omalley" src="/assets/martin_omalley.jpg"/> 
      <img class="keyimage" id="mike_huckabee" src="/assets/mike_huckabee.jpg"/> 
      <img class="keyimage" id="rand_paul" src="/assets/rand_paul.jpg"/> 
      <img class="keyimage" id="rick_santorum" src="/assets/rick_santorum.jpg"/> 
      <img class="keyimage" id="ted_cruz" src="/assets/ted_cruz.jpg"/> 
</div>
     <!--    hillary_clinton
        lawrence_lessig
        martin_omalley
        bernie_sanders
        jim_webb
        jeb_bush
        ben_carson
        chris_christie
        ted_cruz
        carly_fiorina
        jim_gilmore
        lindsey_graham
        mike_huckabee
        bobby_jindal
        john_kasich
        george_pataki
        rand_paul
        marco_rubio
        rick_santorum
        donald_trump -->

    
      
     

<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
 <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
 
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"> </script>
  <script src="http://datamaps.github.io/scripts/datamaps.usa.min.js"></script>
-->
 


<!-- <script></script> -->


